* {
  font-family: "Ubuntu", sans-serif;
  padding: 0px;
}
.margin-none {
  margin: 0px;
}
.logo {
  height: 100px;
}
.black {
  background-color: black;
}
.yellow {
  background-color: #fbd743;
}
.white {
  background-color: white;
}
.red {
  background-color: #ff1f1f;
}
.green {
  background-color: #40ab61;
}
.blue {
  background-color: #356abc;
}
.inherit {
  background-color: inherit;
}
.tablink {
  color: white;
  font-size: 17px;
  padding: 10px 20px;
  border: none;
  outline: none;
}
.tablink:hover {
  background-color: #5db9ff;
}
.tabcontent {
  display: none;
}
.label {
  margin: 10px 10px 10px 0px;
}
.show-tab {
  display: block;
}
.margin-fixed {
  margin: 20px;
}
.main {
  padding: 2%;
}
.calc-form {
  margin: 0px 20px;
  padding: 0px 20px;
}
.calc-input-tempo {
  width: 70px;
  padding: 5px;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.radio {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.space-around {
  justify-content: space-around;
}
.margin-auto {
  margin: auto;
}
.center {
  text-align: center;
  align-self: center;
  justify-content: center;
}
.egg {
  width: 50px;
}
.egg-filter-img {
  width: 90px;
}
.egg-filter {
  width: 200px;
  align-self: flex-start;
  margin-left: 1%;
  background-color: #FE9898;
}
.egg-filter-radio {
  width: 100%;
}
.border {
  border-radius: 8px;
}
.filter {
  margin-left: 5%;
  width: 100%;
}
.bold {
  font-weight: bold;
}
.content {
  padding: 0% 2%;
}
.box-section {
  padding: 0.5% 2% 3%;
  margin: 0px 10% 3%;
  border-radius: 13px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.pointer {
  cursor: pointer;
}
.hidden {
  display: none;
}
.incubadora {
  height: 100px;
}

.checked {
  background-color: rgba(255, 31, 31, 0.41);;
}
.card-pokemon {
  border: solid 4px white;
  padding: 5px;
  width: 180px;
  height: 180px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: white;
  margin: 5px;
}

.select-az {
  background-color: #08224e;
  padding: 5px;
  color: white;
  outline: none;
  height: 40px;
  align-items: center;
}
/* #pokemon,
#showpokemons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  margin: 10px;
}
  */
/* .title {
  font-size: 30px;
  color: #273979;
  margin-top: 8px;
  float: left;
} */
/* 
ul {
  padding: 10px;
  list-style-type: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding-left: 0px;
  border-left: none;
  border-right: none;
  float: right;
}

li a:hover {
  background: linear-gradient(to bottom, #08224e 0%, #0c4da2 100%);
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
}
.topnav .icon {
  display: none;
}
.lni-menu {
  font-size: 20px;
  display: none;
}
input[type="checkbox"] {
  visibility: hidden;
}


#pokemon,
#showpokemons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  margin: 10px;
}
.card-pokemon {
  border: solid 4px white;
  padding: 10px;
  width: 180px;
  height: 200px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: white;
  margin-top: 20px;
} 


.name {
  margin-top: 20px;
}
.filtro {
  margin-top: 40px;
}

.egg-option {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.type {
  margin-top: 0px;
  margin-bottom: 0px;
}



#km-2 {
  color: #96b46c;
}

#km-5 {
  color: #d39738;
}
#km-10 {
  color: #8a7cc8;
}

.btn-resultado {
  padding: 10px;
  background-color: #08224e;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  border-color: #08224e;
  margin-top: 10px;
}
 */

/* 
@media screen and (max-width: 1000px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  body {
    text-align: center;
  }
  
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
  }
} */
