* {
  font-family: "Ubuntu", sans-serif;
  padding: 0px;
}
.margin-none {
  margin: 0px;
}
.logo {
  height: 100px;
}
.black {
  background-color: black;
}
.yellow {
  background-color: #fbd743;
}
.white {
  background-color: white;
}
.red {
  background-color: #F62D14;
}
.green {
  background-color: #40ab61;
}
.blue {
  background-color: #356abc;
}
.inherit {
  background-color: inherit;
}
.tablink {
  color: white;
  font-size: 17px;
  padding: 10px 20px;
  border: none;
  outline: none;
}
.tablink:hover {
  background-color: #5db9ff;
}
.tabcontent {
  display: none;
}
.show-tab {
  display: block;
}
.margin-fixed {
  margin: 20px;
}
.main {
  padding: 2%;
}
.calc-form {
  margin: 0px 20px;
  padding: 0px 20px;
}
.calc-input-tempo {
  width: 70px;
  padding: 5px;
}
.flex {
  display: flex;
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
.space-around {
  justify-content: space-around;
}
.margin-auto {
  margin: auto;
}
.center {
  text-align: center;
  align-self: center;
  justify-content: center;
}
.egg {
  width: 50px;
}
.egg-filter-img {
  width: 90px;
}
.egg-filter {
  width: 200px;
  align-self: flex-start;
  margin-left: 1%;
  background-color: #fe9898;
}
.egg-filter-radio {
  width: 100%;
}
.egg-filter-label {
  padding: 10px 10px 10px 0px;
}
.filter {
  margin-left: 5%;
  width: 100%;
}
.checked {
  background-color: rgba(255, 31, 31, 0.41);
}
.border {
  border-radius: 8px;
}
.bold {
  font-weight: bold;
}
.content {
  padding: 0% 2%;
}
.box-section {
  padding: 0.5% 2% 3%;
  margin: 0px 10% 3%;
  border-radius: 13px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.pointer {
  cursor: pointer;
}
.hidden {
  display: none;
}
.incubadora {
  height: 100px;
}

.card-pokemon {
  border: solid 4px white;
  padding: 15px 5px 0px;
  width: 180px;
  height: 180px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: lightseagreen;
  margin: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
  background-image: url("https://static.imagemwhats.com.br/content/assetz/uploads/2017/03/pokemon-go-pokeball-background-android-wallpaper-whatsapp-android-iphone-197x350.jpg");
}
.select-az {
  background-color: #08224e;
  padding: 5px;
  color: white;
  outline: none;
  height: 40px;
  align-items: center;
}
/* #pokemon,
#showpokemons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.topnav .icon {
  display: none;
}
.lni-menu {
  font-size: 20px;
  display: none;
}

.name {
  margin-top: 20px;
}
.type {
  margin-top: 0px;
  margin-bottom: 0px;
}

.btn-resultado {
  padding: 10px;
  background-color: #08224e;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  border-color: #08224e;
  margin-top: 10px;
}
 */

/* 
@media screen and (max-width: 1000px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  body {
    text-align: center;
  }
  
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
  }
} */
