* {
  font-family: "Ubuntu", sans-serif;
  padding: 0px;
}
body {
  margin: 0px;
}
.black {
  background-color: black;
}
.yellow {
  background-color: #fbd743;
}
.white {
  background-color: white;
}
.red {
  background-color: #ff1f1f;
}
.light-blue {
  background-color: 	#5db9ff;
}
.blue {
  background-color: #356ABC;
}
.topnav {
  padding: 13px 16px;
  /* position: sticky; */
}
.topnav a {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding: 14px 16px;
}
.topnav a:hover {
  background-color: #5db9ff;
}
.topnav .icon {
  display: none;
}
.margin-fixed {
  margin: 20px;
}
.main {
  padding: 2%;
}
.center {
  text-align: center;
}
.icon-egg {
  width: 50px;
}
.bold {
  font-weight: bold;
}
.content {
  padding: 2%;
}

.box-section {
  padding: 0.5% 2% 4%;
  margin: 0px 10% 3%;
  border-radius: 3px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);}
.pointer {
  cursor: pointer;
}
.display-none {
  visibility: hidden;
}
.incubadora {
  height: 100px;
}
input[type=radio]:checked label {
    box-shadow:0px 12px 22px 1px #333;
}
/* .title {
  font-size: 30px;
  color: #273979;
  margin-top: 8px;
  float: left;
} */
/* 
ul {
  padding: 10px;
  list-style-type: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding-left: 0px;
  border-left: none;
  border-right: none;
  float: right;
}

li a:hover {
  background: linear-gradient(to bottom, #08224e 0%, #0c4da2 100%);
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
}

.lni-menu {
  font-size: 20px;
  display: none;
}
input[type="checkbox"] {
  visibility: hidden;
}



.radio [type="radio"] {
  visibility: hidden;
}

.egg {
  height: 100px;
  margin: 20px;
}

.radio :checked + label {
  filter: none;
}

#pokemon,
#showpokemons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  margin: 10px;
}
.card-pokemon {
  border: solid 4px white;
  padding: 10px;
  width: 180px;
  height: 200px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: white;
  margin-top: 20px;
} 

.select {
  display: block;
  height: 40px;
  font-size: 18px;
  margin-bottom: 16px;
  border: none;
}
.select-az {
  background-color: #08224e;
  border-radius: 30px;
  padding: 10px;
  color: white;
  font-size: 16px;
}
.name {
  margin-top: 20px;
}
.filtro {
  margin-top: 40px;
}

.egg-option {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.type {
  margin-top: 0px;
  margin-bottom: 0px;
}

.egg-km {
  justify-content: center;
  display: flex;
  font-size: 26px;
  font-weight: 700;
}
#km-2 {
  color: #96b46c;
}

#km-5 {
  color: #d39738;
}
#km-10 {
  color: #8a7cc8;
}

.btn-resultado {
  padding: 10px;
  background-color: #08224e;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  border-color: #08224e;
  margin-top: 10px;
}
 */



/* 
@media screen and (max-width: 1000px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  body {
    text-align: center;
  }
  
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
  }
} */
